<div class="container-fluid">

  <div class="row min-vh-100">

    <div class="col-md-5 col-lg-6 col-xl-7 d-none d-md-block">
      <div class="bg-cover h-100 me-n3" style="background-image: url(./../../../assets/img/digital-nomad.png);">
      </div>
    </div>

    <div class="col-md-7 col-lg-6 col-xl-5">

      <div class="w-100 py-5 px-md-5 px-xxl-6">

        <div class="d-flex justify-content-between mb-3">
          <div>
            <h2>Bienvenido a Zibrid</h2>
            <h6>Registrate y reserva tu espacio</h6>
          </div>
          <div class="ms-auto text-end">
            <a routerLink="/" class="text-decoration-none text-dark">
              <i class="bi bi-x-lg fs-3"></i>
            </a>
          </div>
        </div>

        <div class="form-floating mb-3">          
          <input type="text" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="name">
          <label>Nombre</label>
        </div>

        <div class="form-floating mb-3">          
          <input type="text" class="form-control" placeholder="Ingrese Apellidos" [(ngModel)]="lastName">
          <label>Apellidos</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder="Ingrese Email" [(ngModel)]="email">
          <label>Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Ingrese contraseña" [(ngModel)]="password">
          <label>Contraseña</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Ingrese contraseña de nuevo" [(ngModel)]="confirmPassword">
          <label>Repetir contraseña</label>
        </div>
        
        <div class="d-grid">
          <button class="btn btn-lg btn-dark" (click)="addUser()">Crear cuenta</button>
        </div>

        <div class="my-3">
          <div class="separator" style="font-size: large;">o</div>
        </div>


        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-info">
            <div class="d-flex justify-content-center">
              <i class="bi bi-linkedin"></i> <span class="ms-3">Continuar con Linkedln</span>
            </div>
          </button>

          <button class="btn btn-lg btn-danger">
            <div class="d-flex justify-content-center">
              <i class="bi bi-google"></i> <span class="ms-4">Continuar con Google</span>
            </div>
          </button>
        </div>

        <div class="text-center mt-5">
          <small class="text-muted">¿Tienes cuenta?
            <a routerLink="/auth/signin" class="text-dark">Inicia sesión</a>
          </small>
        </div>

      </div>
      
    </div>

  </div>

</div>