<app-navbar></app-navbar>

<section>

  <div class="container mt-5">
    <h2 class="mb-4">Espacios en {{this.location}}, España</h2>

    <ul class="nav nav-tabs">
      <li class="nav-item text-dark">
        <a class="nav-link text-dark" [class.active]="currentTab === 'apartments'"
          (click)="getApartmentsByLocation('apartments')">Apartamentos</a>
      </li>
      <li class="nav-item text-dark">
        <a class="nav-link text-dark" [class.active]="currentTab === 'houses'"
          (click)="getHousesByLocation('houses')">Casas</a>
      </li>
      <li class="nav-item text-dark">
        <a class="nav-link text-dark" [class.active]="currentTab === 'coworkings'"
          (click)="getCoworkingsByLocation('coworkings')">Coworking</a>
      </li>
      <li class="nav-item text-dark">
        <a class="nav-link text-dark" [class.active]="currentTab === 'colivings'"
          (click)="getColivingsByLocation('colivings')">Coliving</a>
      </li>
    </ul>

    <h6 class="text-center mt-4" *ngIf="this.spaces.length == 0 && this.currentTab == 'apartments'">No hay apartamentos</h6>
    <h6 class="text-center mt-4" *ngIf="this.spaces.length == 0 && this.currentTab == 'houses'">No hay casas</h6>
    <h6 class="text-center mt-4" *ngIf="this.spaces.length == 0 && this.currentTab == 'coworkings'">No hay espacios de coworking</h6>
    <h6 class="text-center mt-4" *ngIf="this.spaces.length == 0 && this.currentTab == 'colivings'">No hay espacios de coliving</h6>

    <div class="row mt-2" *ngIf="this.spaces.length != 0">

      <div class="col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let space of spaces">
        <div class="card h-100 border-0 shadow">

          <div class="card-img-top">
            <a (click)="goToSpace(space)">
              <img class="img-fluid pointer fixed-size-image" [src]="space.imageBlobURL" alt="Apartment Image" />
            </a>
          </div>

          <div class="card-body">
            <div class="w-100">
              <h6 class="card-title">
                <a class="text-decoration-none text-dark" (click)="goToSpace(space)">
                  {{ space.name }}
                </a>
              </h6>
              <div class="d-flex card-subtitle mb-3">
                <p class="flex-grow-1 mb-0 text-muted text-sm">{{ space.city }}, {{ space.province }}</p>
              </div>
              <p class="card-text text-muted">
                <span class="h4 text-dark">{{ space.price }}€</span> por día
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>