<app-navbar></app-navbar>

<section class="py-5">

  <div class="container">

    <div class="row">

      <div class="col-lg-5 order-lg-1 order-2">

        <div class="p-4 border-0 shadow rounded-3 mt-3 me-4">
          <p class="text-muted">
            <span class="text-dark h2">{{ this.space?.name }}</span>
          </p>

          <hr class="my-4">

          <div class="mb-3">
            <label class="form-label">Días de reserva</label>
            <input readonly class="form-control" type="text" name="bookingDate" id="bookingDate"
              placeholder="Selecciona las fechas" [ngModel]="this.bookingDates">
          </div>

          <div>
            <p class="text-muted text-sm ms-1 mb-0">{{ this.space?.price }} € x {{ getBookingDays() }} días = {{ this.booking.bookingPrice | number:'1.2-2' }} €</p>
            <p class="text-muted text-sm ms-1 mb-0">Comisión de servicio ({{ this.booking.serviceFee }}%): {{ this.booking.serviceFeePrice | number:'1.2-2' }} €</p>
            <hr class="my-2">
            <p class="text-muted text-sm ms-1"><strong>Total a pagar: {{ this.booking.totalPrice | number:'1.2-2' }}€</strong></p>
          </div>

        </div>

      </div>

      <div class="col-lg-7 mt-2 order-lg-2 order-1">

        <div class="d-flex justify-content-between mb-3">
          <div>
            <h1 class="display-5 mb-4">Confirma y paga tu reserva</h1>
          </div>
          <div class="ms-auto text-end">
            <a (click)="cancelBooking()" class="text-decoration-none text-dark pointer">
              <i class="bi bi-x-lg fs-1"></i>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="mb-4 col-md-12">
            <label class="form-label">Nombre del titular de la tarjeta</label>
            <input class="form-control" type="text" name="card-name" id="card-name" placeholder="Nombre y apellidos">
          </div>
          <div class="mb-4 col-md-12">
            <label class="form-label">Número de tarjeta</label>
            <input class="form-control" type="text" name="card-number" id="card-number"
              placeholder="XXXX-XXXX-XXXX-XXXX">
          </div>
          <div class="mb-4 col-md-6">
            <label class="form-label">Fecha de expiración</label>
            <input class="form-control" type="text" name="expiry-date" id="expiry-date" placeholder="MM/YY">
          </div>
          <div class="mb-4 col-md-6">
            <label class="form-label">CVC</label>
            <input class="form-control" type="text" name="cvv" id="cvv" placeholder="XXX">
          </div>
        </div>

        <div class="d-grid mb-4">
          <a (click)="confirmBook()" class="btn btn-dark">
            Confirmar y pagar
          </a>
        </div>

      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>