<app-navbar></app-navbar>
<section class="py-5">

  <div class="container">
    
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-dark" routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-dark" routerLink="/account">Cuenta</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Información personal</li>
    </ol>

    <h1 class="display-5">Información Personal</h1>

  </div>

</section>
<app-footer></app-footer>