<app-navbar></app-navbar>

<section class="container mt-5 mb-5">

  <div class="row">

    <div class="col-xl-5 col-lg-6 col-md-6 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
      <h1 class="display-4 mt-lg-5 mb-md-4 mb-3 pt-md-4 pb-lg-2">Encuentra tu espacio de trabajo</h1>
      <p class="position-relative lead me-lg-n5">Ofrecemos un servicio completo de alquiler de espacios de trabajo 100% online.</p>
    </div>

    <div class="col-xl-7 col-lg-6 col-md-6 order-md-2 mb-4 mb-lg-3">
      <img src="../../../assets/img/remote-worker-2.png" alt="Building">
    </div>

  </div>

</section>

<section class="py-6 bg-light">

  <div class="container">

    <div class="text-center pb-lg-4">
      <h2 class="mb-5 pt-5">Reservar con Zibrid es fácil</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../assets/img/search.png" width="100px">
          </div>
          <h3 class="h5">Encuentra tu espacio ideal</h3>
          <p class="text-muted">Disponemos de cientos de espacios, seguro que encuentras uno que se ajuste a tus
            necesidades</p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../assets/img/booking.png" width="100px">
          </div>
          <h3 class="h5">Reserva de forma segura</h3>
          <p class="text-muted">Garantizamos que tu reserva se realiza de forma segura para evitarte preocupaciones</p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../assets/img/remote-worker.png" width="100px">
          </div>
          <h3 class="h5">Teletraba con comodidad</h3>
          <p class="text-muted">Da lo mejor de ti en tu trabajo al alquilar espacios equipados para el teletrabajo</p>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="container mb-5 pt-5">

  <div class="text-center pb-lg-4">
    <h2 class="mb-5 pt-4">¿Qué puedes encontrar?</h2>
  </div>

  <div class="row row-cols-lg-6 row-cols-sm-3 row-cols-1 g-3 g-xl-4 justify-content-center">

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../assets/img/desk.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Escritorios</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../assets/img/apartment.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Apartamentos</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../assets/img/house.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Casas</h5>
          </a>
        </div>
      </div>
    </div>    

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../assets/img/office.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Coliving</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../assets/img/coworking.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Coworking</h5>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>

<section class="mb-5 pt-5 bg-light">
  <div class="container">
    <div class="text-center pb-lg-4">
      <h2 class="mb-5 pt-4">¿Dónde los puedes encontrar?</h2>
    </div>

    <div class="row row-cols-lg-6 row-cols-sm-3 row-cols-1 g-3 g-xl-4 justify-content-center">

      <div class="col">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <a class="text-decoration-none" routerLink="/">
              <div class="text-primary mb-3 mx-auto">
                <img class="bg-image" src="./../../../assets/img/torre-agbar.png" alt="Ciudad">
              </div>
              <h6 class="card-title text-shadow text-dark mb-0 text-uppercase text-center">Ciudad</h6>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <a class="text-decoration-none" routerLink="/">
              <div class="text-primary mb-3 mx-auto">
                <img class="bg-image" src="./../../../assets/img/coast.jpg" alt="Costa">
              </div>
              <h6 class="card-title text-shadow text-dark mb-0 text-uppercase text-center">Costa</h6>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <a class="text-decoration-none" routerLink="/">
              <div class="text-primary mb-3 mx-auto">
                <img class="bg-image" src="./../../../assets/img/rural.png" alt="Rural">
              </div>
              <h6 class="card-title text-shadow text-dark mb-0 text-uppercase text-center">Rural</h6>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<app-footer></app-footer>