<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="row pt-0 pt-md-2 pt-lg-0">
    <div class="col-xl-7 col-lg-6 col-md-5 order-md-2 mb-4 mb-lg-3"><img src="../../../assets/img/hero-image.jpg"
        alt="Hero image"></div>
    <div class="col-xl-5 col-lg-6 col-md-7 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
      <h1 class="display-4 mt-lg-5 mb-md-4 mb-3 pt-md-4 pb-lg-2">Easy way to find <br> a perfect workspace</h1>
      <p class="position-relative lead me-lg-n5">We provide a complete service for the rental of workspaces for digital
        nomads.</p>
    </div>
  </div>
</div>