<app-navbar></app-navbar>

<section class="container mt-5">

  <div class="row">

    <div class="col-xl-5 col-lg-6 col-md-7 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
      <h1 class="display-4 mb-md-4 mb-3 pb-lg-2">Aumenta tus ingresos del alquiler</h1>
      <p class="position-relative lead me-lg-n5">Posiciona tu propiedad en el creciente mercado de alquiler de
        espacios para teletrabajadores</p>

      <a class="btn btn-dark btn-lg mt-4" routerLink="/auth/signup/landlord">Cuéntanos como es tu espacio</a>
    </div>

    <div class="col-xl-7 col-lg-6 col-md-5 order-md-2 mb-4 mb-lg-3">
      <img src="./../../../../assets/img/standing-desk-5.jpg" alt="Home landlord">
    </div>

  </div>

</section>

<section class="mt-5 py-6 bg-light">

  <div class="container">

    <div class="text-center pb-lg-4">
      <h2 class="mb-5 pt-5">Alquilar tu espacio en Zibrid es fácil...</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/space-for-rent.svg" width="100px">
          </div>
          <h3 class="h5">Regístrate y sube tu espacio</h3>
          <p class="text-muted">Cuentanos como es tu espacio siguiendo unos pocos pasos</p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/process_checked.svg" width="100px">
          </div>
          <h3 class="h5">Necesitamos verficar unas cosillas...</h3>
          <p class="text-muted">Te llamaremos para verificar que tu espacio es válido</p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/web_publish.svg" width="100px">
          </div>
          <h3 class="h5">¡Ya está visible en la plataforma!</h3>
          <p class="text-muted">Una vez verificado el espacio, el anunció ya será visible y estará listo para ser
            alquilado</p>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="mb-5">
  <div class="container">
    <div class="text-center pb-lg-4">
      <h2 class="mb-5 pt-5">¡Asegúrate de que tu espacio cumple con los requisitos!</h2>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-1 g-3 g-xl-4 justify-content-center">

      <div class="col">
        <div class="card mb-4 mb-lg-0 border-0">
          <img src="./../../../../assets/img/apartment-home-landlord.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Apartamentos</h5>
            <div class="card-text">
              <ul>
                <li>Se alquilan por unidad, no para coliving</li>
                <li>Conexión a internet de al menos 300MB</li>
                <li>Un espacio reservado para el teletrabajo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 mb-lg-0 border-0">
          <img src="./../../../../assets/img/casa-characteristics.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Casas</h5>
            <div class="card-text">
              <ul>
                <li>Se alquilan por unidad o para coliving</li>
                <li>Conexión a internet de al menos 300MB</li>
                <li>Un espacio reservado para el teletrabajo por habitación</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card mb-4 mb-lg-0 border-0">
          <img src="./../../../../assets/img/coworking-characteristics.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Coworking</h5>
            <div class="card-text">
              <ul>
                <li>Locales equipados con áreas para el coworking</li>
                <li>Conexión a internet de al menos 300MB</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<app-footer></app-footer>