<app-navbar></app-navbar>

<section>

  <div class="container-fuid">

    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/img/apartment1-photo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/img/coliving-space-booking.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/img/coworking-space-booking.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="viewAllModal" tabindex="-1" aria-labelledby="viewAllModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewAllModalLabel">Fotos del Apartamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="allPhotosCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../assets/img/apartment1-photo.jpg" class="d-block w-100" alt="Property Photo 1">
                </div>
                <div class="carousel-item">
                  <img src="../../../../assets/img/coliving-space-booking.jpg" class="d-block w-100"
                    alt="Property Photo 2">
                </div>
                <div class="carousel-item">
                  <img src="../../../../assets/img/coworking-space-booking.jpg" class="d-block w-100"
                    alt="Property Photo 3">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#allPhotosCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#allPhotosCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-8">

        <div class="d-flex justify-content-between mb-1">

          <div class="mt-4">
            <i class="bi bi-geo-alt-fill"></i> Albacete, Castilla-La Mancha
          </div>

          <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#viewAllModal">
            Ver todas las fotos
          </button>
        </div>

        <h1>Santa Teresa</h1>
        <h5 class="text-muted mb-4">Apartamento</h5>

        <ul class="list-inline text-sm">
          <li class="list-inline-item me-3">
            <i class="bi bi-people-fill"></i> 4 huéspedes
          </li>
          <li class="list-inline-item me-3"><i class="fa fa-door-open me-1"></i> 3 habitaciones</li>
          <li class="list-inline-item me-3"><i class="fa fa-bed me-1"></i> 3 camas</li>
          <li class="list-inline-item me-3"><i class="fa fa-bath me-1"></i> 2 baños</li>
        </ul>

        <h5 class="mt-4 mb-3">DESCRIPCIÓN</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, aliquam cupiditate praesentium, soluta
          officiis ea fuga quaerat optio ad sit sed, provident vitae. Officia placeat deserunt laudantium, ducimus minus
          assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab quis asperiores molestiae
          doloribus nemo cupiditate obcaecati doloremque? Perspiciatis qui in esse quas ipsam accusamus optio sed,
          excepturi asperiores sapiente. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia
          illo earum amet veritatis suscipit sed explicabo nostrum. Esse et sunt reprehenderit corporis accusamus ipsum
          consequatur sequi, eum facere necessitatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Officia dolorem error aperiam necessitatibus eveniet nobis inventore voluptatum minima ratione reprehenderit.
          Quam, facilis vero. Ut error, repudiandae minima soluta ipsa consectetur!</p>

        <hr class="mt-4">

        <h5 class="mt-4 mb-3">COMODIDADES PARA EL TELETRABAJO</h5>
        <div class="row">

          <div class="col-md-3">
            <div class="card h-100 text-center">
              <div class="card-body">
                <div class="text-primary mb-3 mx-auto">
                  <img src="./../../../../assets/icons/office-chair-icon.png" width="32px">
                </div>
                <p class="text-dark mb-0">Silla Ergonómica</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card h-100 text-center">
              <div class="card-body">
                <div class="text-primary mb-4 mx-auto">
                  <img src="./../../../../assets/icons/wifi-icon.png" width="32px">
                </div>
                <p class="text-dark mb-0">Wifi velocidad hasta 300MB</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card h-100 text-center">
              <div class="card-body">
                <div class="text-primary mb-3 mx-auto">
                  <img src="./../../../../assets/icons/laptop-stand.png" width="32px">
                </div>
                <p class="text-dark mb-0">Soporte para portátil</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card h-100 text-center">
              <div class="card-body">
                <div class="text-primary mb-3 mx-auto">
                  <img src="./../../../../assets/icons/laptop-stand.png" width="32px">
                </div>
                <p class="text-dark mb-0">Soporte para portátil</p>
              </div>
            </div>
          </div>

        </div>

        <h5 class="mt-4">RESTO DE COMODIDADES</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, aliquam cupiditate praesentium, soluta
          officiis ea fuga quaerat optio ad sit sed, provident vitae. Officia placeat deserunt laudantium, ducimus minus
          assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab quis asperiores molestiae
          doloribus nemo cupiditate obcaecati doloremque? Perspiciatis qui in esse quas ipsam accusamus optio sed,
          excepturi asperiores sapiente. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia
          illo earum amet veritatis suscipit sed explicabo nostrum. Esse et sunt reprehenderit corporis accusamus ipsum
          consequatur sequi, eum facere necessitatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Officia dolorem error aperiam necessitatibus eveniet nobis inventore voluptatum minima ratione reprehenderit.
          Quam, facilis vero. Ut error, repudiandae minima soluta ipsa consectetur!</p>

        <hr class="mt-4">

        <h5 class="mt-4 mb-3">LOCALIZACIÓN</h5>
        <p>Industria es un barrio de la ciudad española de Albacete localizado en el norte de la capital. Con 16 492
          habitantes (2012) es uno de los barrios más poblados de Albacete.

          De su pasado industrial quedan vestigios como la Fábrica de Harinas de Albacete, destinada a ser sede de la
          Consejería de Hacienda y Administraciones Públicas de la Junta de Comunidades de Castilla-La Mancha. También
          conserva la Locomotora Mikado de Albacete, que rinde homenaje al ferrocarril.</p>

        <!-- mapa -->

        <div id="map"></div>

        <hr class="mt-4">

        <button type="button" class="btn btn-secondary mt-3" (click)="getCoordinates()">
          Ver localización
        </button>
      </div>

      <div class="col-lg-4">

        <div class="p-4 border-0 shadow ms-lg-4 rounded-3 sticky-top mt-3" style="top: 75px;">
          <p class="text-muted"><span class="text-dark h2">60€</span> por día</p>
          <hr class="my-4">
          <form class="form" id="booking-form" method="get" action="#" autocomplete="off">
            <div class="mb-3">
              <label class="form-label" for="bookingDate">Llegada / Salida</label>
              <div class="datepicker-container datepicker-container-right">
                <input class="form-control" type="text" name="bookingDate" id="bookingDate"
                  placeholder="Selecciona las fechas">
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="guests">Huéspedes</label>
              <select class="form-control" name="guests" id="guests">
                <option value="1">1 Huésped</option>
                <option value="2">2 Huéspedes</option>
                <option value="3">3 Huéspedes</option>
                <option value="4">4 Huéspedes</option>
              </select>
            </div>

            <div class="d-grid mb-4">
              <a (click)="bookSpace()" class="btn btn-dark">
                Reservar
              </a>
            </div>

            <div>
              <p class="text-muted text-sm ms-1 mb-0">60€ x 5 días = 300€</p>
              <hr class="my-2">
              <p class="text-muted text-sm ms-1">Total: 306€</p>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>