<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

  <a class="navbar-brand ms-5" routerLink="/">
    Zibrid
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end me-5 ms-5" id="navbarContent">

    <a class="btn btn-outline-dark btn-sm me-4" role="button" routerLink="/listing"
      *ngIf="!token">Publica tu espacio</a>
    <a class="btn btn-outline-dark btn-sm me-4" role="button" routerLink="/auth/signin" *ngIf="!token">Iniciar sesión</a>
    <ul class="navbar-nav mb-2 mb-md-0" *ngIf="token">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" id="userDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-person fs-3"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" routerLink="/account">Cuenta</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="token">
            <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
          </li>
        </ul>
      </li>

      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" id="cartDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">          
          <ion-icon name="globe-outline" style="padding-top: 7px;"></ion-icon>   
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="cartDropdown">
          <li><a class="dropdown-item">Español</a></li>
          <li><a class="dropdown-item">English</a></li>
        </ul>
      </li>-->

    </ul>
  </div>
</nav>