<app-navbar></app-navbar>

<!-- Modal -->
<div class="modal fade" id="viewAllModal" tabindex="-1" aria-labelledby="viewAllModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewAllModalLabel">Fotos del {{ this.mySpace?.type }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="allPhotosCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let imageURL of imageUrls; let i = index" [class.active]="i === 0">
              <img [src]="imageURL" class="d-block w-100" alt="Property Photo 1">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#allPhotosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#allPhotosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <ol class="breadcrumb mt-4">
    <li class="breadcrumb-item">
      <a class="text-decoration-none text-dark" routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a class="text-decoration-none text-dark" routerLink="/account">Cuenta</a>
    </li>
    <li class="breadcrumb-item">
      <a class="text-decoration-none text-dark" routerLink="/account/my-spaces">Mis Espacios</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Mi espacio</li>
  </ol>

  <div class="d-flex justify-content-between mb-1 justify-content-end">
    <div class="mt-4" *ngIf="this.mySpace?.city === this.mySpace?.province">
      <i class="bi bi-geo-alt-fill"></i> {{ this.mySpace?.city }} Capital
    </div>

    <div class="mt-4" *ngIf="this.mySpace?.city != this.mySpace?.province">
      <i class="bi bi-geo-alt-fill"></i> {{ this.mySpace?.city }}, {{ this.mySpace?.province }}
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-secondary mt-3 me-2" data-bs-toggle="modal" data-bs-target="#viewAllModal">
        Ver fotos del espacio
      </button>
      <button type="button" class="btn btn-secondary mt-3 me-2" (click)="editSpace(this.mySpace?.propertyId)"
        *ngIf="this.mySpace?.status == 'Verified'">
        Editar espacio
      </button>
      <!-- <button type="button" class="btn btn-danger mt-3" (click)="deleteSpace(this.mySpace?.propertyId)"
        *ngIf="this.mySpace?.status == 'Verified'">
        Borrar espacio
      </button> -->
    </div>
  </div>

  <h1>{{ this.mySpace?.name }}</h1>
  <h5 class="text-muted mb-4">{{ this.mySpace?.type }}</h5>

  <ul class="list-inline text-sm">
    <li class="list-inline-item me-3" *ngIf="this.mySpace?.type != 'Coworking'">
      <i class="fa fa-door-open me-1"></i> {{ this.mySpace?.bedrooms }} habitaciones
    </li>
    <li class="list-inline-item me-3" *ngIf="this.mySpace?.type != 'Coworking'">
      <i class="fa fa-bed me-1"></i> {{ this.mySpace?.beds }} camas
    </li>
    <li class="list-inline-item me-3" *ngIf="this.mySpace?.type != 'Coworking'">
      <i class="fa fa-bath me-1"></i> {{ this.mySpace?.bathrooms }} baños
    </li>
    <li class="list-inline-item me-3">
      <img [src]="'./../../../../assets/icons/office_desk.svg'" width="16px"> {{ this.mySpace?.workspaces }}
      Estaciones de trabajo
    </li>
  </ul>

  <h5 class="mt-4 mb-3">DESCRIPCIÓN</h5>
  <p>{{ this.mySpace?.spaceDescription }}</p>

  <hr class="mt-4">

  <h5 class="mt-4 mb-3">COMODIDADES PARA EL TELETRABAJO</h5>
  <div class="row">

    <div class="col-md-3" *ngFor="let amenity of workAmenities">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class="text-primary mb-3 mx-auto">
            <img [src]="'./../../../../assets/icons/' + amenity.name + '.svg'" width="40px">
          </div>
          <p class="text-dark mb-0">{{ this.amenity?.description }}</p>
        </div>
      </div>
    </div>

  </div>

  <h5 class="mt-4" *ngIf="this.mySpace?.type != 'Coworking'">RESTO DE COMODIDADES</h5>
  <div class="row" *ngIf="this.mySpace?.type != 'Coworking'">

    <div class="col-md-3" *ngFor="let amenity of lifeAmenities">
      <div class="card h-100 text-center">
        <div class="card-body">
          <div class="text-primary mb-3 mx-auto">
            <img [src]="'./../../../../assets/icons/' + amenity.name + '.svg'" width="40px">
          </div>
          <p class="text-dark mb-0">{{ this.amenity?.description }}</p>
        </div>
      </div>
    </div>

  </div>

  <hr class="mt-4">

  <h5 class="mt-4 mb-3">LOCALIZACIÓN</h5>
  <p>{{this.mySpace?.spacePlaceDescription}}</p>

  <div id="map-container">
    <div id="map">
    </div>
  </div>

</div>

<app-footer></app-footer>