<app-navbar></app-navbar>
<section class="py-5">

  <div class="container">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-dark" routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-dark" routerLink="/account">Cuenta</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Espacios Pendientes</li>
    </ol>

    <h1 class="display-5 mb-4">Espacios pendientes de ser publicados</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Espacio</th>
          <th scope="col">Dirección</th>
          <th scope="col">Localidad</th>
          <th scope="col">Nombre propietario</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pendingSpace of pendingSpaces">
          <th scope="row">{{ pendingSpace.id }}</th>
          <td>{{ pendingSpace.name }}</td>
          <td>{{ pendingSpace.address }}</td>
          <td>{{ pendingSpace.city }}</td>
          <td>{{ pendingSpace.userId }}</td>
          <td>15975382</td>
          <td *ngIf="pendingSpace.status == 'Pendiente'">
            <span class="badge text-bg-warning">{{ pendingSpace.status }}</span>
          </td>
          <td *ngIf="!pendingSpace.status">
            <span class="badge text-bg-danger">No completado</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</section>
<app-footer></app-footer>