<app-navbar></app-navbar>

<section class="container mt-5">

  <div class="row">

    <div class="col-xl-5 col-lg-6 col-md-5 order-md-1 pe-lg-0 mb-3 pt-lg-3 text-md-start text-center">
      <h1 class="display-4 mb-md-4 mb-3 pb-lg-2">Encuentra tu espacio de trabajo</h1>
      <p class="position-relative lead me-lg-n5">Ofrecemos un servicio completo de alquiler de espacios de trabajo
        100%
        online.</p>
    </div>

    <div class="col-xl-7 col-lg-6 col-md-7 order-md-2 mb-lg-3 mb-4">
      <img src="./../../../../assets/img/home-guest-small.jpg" alt="Remote worker">
    </div>

  </div>

</section>


<section class="container mt-4">
  <div class="d-flex justify-content-between">

    <input class="form-control" list="regions" name="browser" id="browser"
      placeholder="¿Desde dónde quieres teletrabajar?">
    <datalist id="regions">
      <option value="Castilla-La Mancha">Castilla-La Mancha</option>
      <option value="Madrid">Madrid</option>
      <option value="Andalucía">Andalucía</option>
      <option value="Asturias">Asturias</option>
      <option value="Cataluña">Cataluña</option>
      <option value="Galicia">Galicia</option>
    </datalist>

    <a (click)="findSpaces()" class="btn btn-dark ms-2">
      Buscar
    </a>

  </div>
</section>

<section class="mt-5 py-6 bg-light">

  <div class="container">

    <div class="text-center pb-lg-4">
      <h2 class="mb-5 pt-5">Reservar con Zibrid es fácil</h2>
    </div>

    <div class="row">

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/searching_space.svg" width="100px">
          </div>
          <h3 class="h5">Encuentra tu espacio ideal</h3>
          <p class="text-muted">Disponemos de cientos de espacios, seguro que encuentras uno que se ajuste a tus
            necesidades</p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/booking_safe.svg" width="100px">
          </div>
          <h3 class="h5">Reserva de forma segura</h3>
          <p class="text-muted">Garantizamos que tu reserva se realiza de forma segura para evitarte preocupaciones
          </p>
        </div>
      </div>

      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="mb-3">
            <img src="./../../../../assets/icons/woman_working.svg" width="100px">
          </div>
          <h3 class="h5">Teletraba con comodidad</h3>
          <p class="text-muted">Da lo mejor de ti en tu trabajo al alquilar espacios equipados para el teletrabajo</p>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="container mb-5 pt-4">

  <div class="text-center pb-lg-4">
    <h2 class="mb-5 pt-4">¿Qué puedes encontrar?</h2>
  </div>

  <div class="row row-cols-lg-6 row-cols-sm-3 row-cols-1 g-3 g-xl-4 justify-content-center">

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../../assets/icons/apartments.svg" width="60px">
            </div>
            <h5 class="text-dark mb-0">Apartamentos</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../../assets/icons/house.svg" width="60px">
            </div>
            <h5 class="text-dark mb-0">Casas</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 border-0 shadow text-center">
        <div class="card-body">
          <a class="text-decoration-none" routerLink="/">
            <div class="text-primary mb-3 mx-auto">
              <img src="./../../../../assets/img/coworking.png" width="60px">
            </div>
            <h5 class="text-dark mb-0">Coworking</h5>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>

<section class="mb-5 pt-4 bg-light">
  <div class="container">
    <div class="text-center pb-lg-4">
      <h2 class="mb-4 pt-4">¿Dónde los puedes encontrar?</h2>
    </div>

    <div class="row justify-content-center">

      <div class="col-md-6">        
        <div class="text-center mb-3">
          <h1 class="display-6">Zonas de costa</h1>
          <img class="bg-image" src="./../../../../assets/img/coast-home-guest.jpg" width="500" alt="Costa">
        </div>
      </div>

      <div class="col-md-6">        
        <div class="text-center mb-3">
          <h1 class="display-6">Zonas rurales</h1>
          <img class="bg-image" src="./../../../../assets/img/rural.png" width="500" alt="Rural">
        </div>
      </div>

    </div>

  </div>

</section>

<app-footer></app-footer>