<app-navbar></app-navbar>

<div class="progress mb-4" style="height: 5px;">
  <div class="progress-bar bg-secondary" role="progressbar" aria-label="Example 5px high" style="width: 60%;"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container mt-4 mb-5">
  <h1 class="mb-5">Selecciona sus comodidades</h1>  

  <div class="form-check" *ngFor="let amenity of allAmenities">
    <input class="form-check-input" type="checkbox" [id]="amenity.name" [checked]="this.amenitiesPropertyNames.includes(amenity.name)" (change)="toggleAmenitySelection(amenity, $event)">
    <label class="form-check-label">{{ amenity.description }}</label>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-secondary" (click)="back()">Atrás</button>
    <button class="btn btn-dark" (click)="addAmenitiesSpace()">Siguiente</button>
  </div>

</div>

<app-footer></app-footer>