<app-navbar></app-navbar>

<div class="progress mb-4" style="height: 5px;">
  <div class="progress-bar bg-secondary" role="progressbar" aria-label="Example 5px high" style="width: 100%;"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container mt-4 mb-5">
  <h1>¡Listo! Gracias por enseñarnos tu espacio</h1>

  <h3>Lo revisaremos en breves y nos pondremos en contacto contigo antes de publicarlo en la plataforma</h3>

  <div class="row mt-5">

    <div class="d-flex justify-content-center">
      <button class="btn btn-dark" (click)="goToAccount()">Ir a mi cuenta</button>
    </div>

  </div>
</div>
<app-footer></app-footer>